@charset "utf-8";
/* CSS Document */
body {margin:auto;}
.logo{ padding-top:24px; padding-right: 12px;}
.nav{ height: auto; width: 60%; clear: none; float: right; font-family: arial; padding-bottom: 12px;  }

.nav ul{padding-top: 40px; color:#975F60;}

.nav ul li{display:inline-block; color:darkgoldenrod; padding-right: 10px; font-family: arial; font-size: 16px; clear: none; float: right;}

.nav ul li a {text-decoration: none; color:#000;}

.nav ul li a:hover{  background-color: darkorange; color:#fff;  padding: 12px 12px 12px 12px; border-radius: 6px; }
.teot{width: 100%; height: auto; clear: none; float: right;  color: chocolate; text-align: center; padding-top: 6px; padding-bottom: 24px;padding-top: 40px;}
 
.modural{ width: 100%; height :auto; clear: none; float: right; font-family:arial; text-align: center; font-size:18px; padding-bottom: 24px;}

.botton{padding-top: 33px;  }

.color{width: 100%; height:8px; clear: none; float: left; background-color: #BFB6B6; margin-top: 16px; }

.banner{ width:50%; height:500px; float: left; clear: none; background-image:url("../image/banner_02.png")}

.opperation{ width: 100%; height:auto; clear: none; float: left; color: #fff; padding: 12px 12px;  text-decoration: underline;}

.opperat{ width: 100%; height:auto; clear: none; float: left; color: #fff; padding: 12px 12px; text-align: center; text-decoration: underline;}

.opper{ width: 100%; height:auto; clear: none; float: left; color: #fff; padding: 12px 12px; text-align: right; text-decoration: underline;}

.oppe{ width: 100%; height:auto; clear: none; float: left; color: #fff; padding-top: 75px;  padding-left: 275px; text-decoration: underline;}

.header{ width:100%: height:50px; clear:none; float: right; background-color:darkgoldenrod;   color: aliceblue; text-align:right;  padding-top:12px; }

.tex{color: #EFB014;}

.meth{text-align:center; margin-top: 12px; padding-bottom: 26px;}

.box{width: 23%; height: auto; clear: none; float: right; background-color:#D9B01E;   margin-top: 12px; margin-left: 25px; text-align:center; margin-right: 24px;}

.ox{width: 23%; height: auto; clear: none; float: right; background-color:#EFD185;   margin-top: 12px; margin-left: 25px; text-align:center; margin-right: 24px;}

.text{  text-align: left; padding-top: 24px; }

.paragraph{text-align: center; font-size:18px; padding-top: 18px;  padding-bottom: 24px;}

.background{width:100%; height:auto; clear: none; float: left; background-color:#DFDEDB; margin-top: 60px; padding-bottom: 80px;}

.quality{color:#F5B907;  font-size:20px; padding-left: 24px; padding-top: 10px;}

.design{padding-left:24px;}

.oreng{ width: auto; height:5px; background-color: #F48304;}

.ana{width: 100%; height:auto; background-color:#000;   padding-bottom: 18px; text-align: center;  }

.service{color: #D5890B; }

.method{color:#fff; }

.our-team{color:#fff;  }

.team{width:100%; height: auto; clear: none; float:right; color: #F0BC25; text-align:center; padding-top:40px; padding-bottom:80px; }

.geo{ width:25%; height: auto; clear: none; float: right; background-color: #ffd48b; padding-top: 24px; margin-top: 30px; padding-bottom: 50px; }

.project{ width:25%; height: auto; clear: none; float:right; background-color:#f9c975; padding-top: 24px; margin-top:30px; padding-bottom: 50px;}
 
.area{ width:25%; height: auto; clear: none; float: right; background-color: #f4bd62; padding-top: 24px; margin-top:30px; padding-bottom: 50px;}

.inct{ width:25%; height: auto; clear: none; float: right; background-color: #edb24a; padding-top: 24px; margin-top: 30px;padding-bottom: 50px;} 

.footer{ width:100%; height:350px; clear: none; float:right; background-color: #000; margin-top:100px; padding-top: 50px; margin-left: 24px;}

.foote{width:100%; height: auto; clear: none; float: right; background-color:rgba(244,174,20,1.00); border-radius: 12px; padding-right: 12px; }

.img{ width: 100%; height: auto; clear:none; float:right; margin-left: 30px;}

.head{width:100%; height: auto; clear:none; float; color: #fff;}

.footer-para{color:#fff;}

.footer-para{color: #fff;}

.bg-image{width:100%; height:auto; clear:none; float:left; background-color:#000; margin-top:24%; }

.copy{  width:100px; background-color:#000000; color:#fff; margin-top:125px; padding-top:5.5px;}

.our-service{text-align:center;}

.teot{color:#E8A21E;}
.risk{width:100%; height:auto; clear: none; float:left; }

.oxo{width:30%; height: auto; clear: none; float: right; background-color:#000; color:#fff;  margin-left: 30px; margin-right: 100px; margin-bottom: 12px; margin-top:24px;  text-align: center; border-radius:12px;  }

.olo{width:23%; height: auto; clear: none; float: right;  color:#000;  margin-left: 30px; margin-right: 100px; margin-bottom: 12px; margin-top:24px;  text-align: left;}


.texxt{width:100%; height:auto; clear:none; float: right; }


.anna{width: 100%; height:auto; background-color:#000;   padding-bottom: 18px; text-align: center; border-bottom-color: #F1C50C;  }

.services{color: #D5890B; }
.methody{color:#fff; }

.our-teams{color:#fff;  }
